Repository ameshkin/markdown-handler: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run typecheck, npm install --package-lock-only

chore: update husky hooks to v9 format and fix commitlint config
  .commitlintrc.json
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
Due: none

docs: update contributing guide with correct commit message format
  CONTRIBUTING.md
Due: none

chore: simplify husky setup - remove commitlint, keep only package-lock sync
  .commitlintrc.json
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: npm install --package-lock-only

fix: update package-lock.json and improve CI error handling
  .husky/pre-commit
Due: none

fix: improve CI to handle package-lock.json sync issues
  .github/workflows/ci.yml
Due: none

fix: remove node 18 from CI and update package-lock.json
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: npm install --package-lock-only

build: update TypeScript config to output to public directory
  dist/components/Breadcrumbs.d.ts
  dist/components/Breadcrumbs.d.ts.map
  dist/components/MarkdownDocsViewer.d.ts
  dist/components/MarkdownDocsViewer.d.ts.map
  dist/components/SearchBar.d.ts
  dist/components/SearchBar.d.ts.map
  dist/components/vanilla/BreadcrumbsVanilla.d.ts
  dist/components/vanilla/BreadcrumbsVanilla.d.ts.map
  dist/components/vanilla/MarkdownDocsViewerVanilla.d.ts
  dist/components/vanilla/MarkdownDocsViewerVanilla.d.ts.map
  dist/components/vanilla/SearchBarVanilla.d.ts
  dist/components/vanilla/SearchBarVanilla.d.ts.map
  dist/examples/template-examples.d.ts
  dist/examples/template-examples.d.ts.map
  dist/index.d.ts
  dist/index.d.ts.map
  dist/index.js
  dist/pages/TemplateShowcase.d.ts
  dist/pages/TemplateShowcase.d.ts.map
  dist/style.css
  dist/templates/index.d.ts
  dist/templates/index.d.ts.map
  dist/test/MarkdownDocsViewer.test.d.ts
  dist/test/MarkdownDocsViewer.test.d.ts.map
  dist/test/setup.d.ts
  dist/test/setup.d.ts.map
  dist/test/types.test.d.ts
  dist/test/types.test.d.ts.map
  dist/test/utils.test.d.ts
  dist/test/utils.test.d.ts.map
  dist/types.d.ts
  dist/types.d.ts.map
  dist/utils/buildDocsTree.d.ts
  dist/utils/buildDocsTree.d.ts.map
  dist/utils/getDocContent.d.ts
  dist/utils/getDocContent.d.ts.map
  dist/utils/index.d.ts
  dist/utils/index.d.ts.map
  tsconfig.build.json
Due: npm run typecheck

build: disable Vite publicDir to avoid conflict with output directory
  vite.config.ts
Due: npm run typecheck

docs: add GitHub Packages publishing setup and workflow
  .github/workflows/publish.yml
  .gitignore
  .npmrc.example
  PUBLISH.md
  package.json
Due: npm install --package-lock-only

docs: add comment confirming all icons use outline variants
  src/components/MarkdownDocsViewer.tsx
Due: npm run typecheck

Initial commit with all files.
  package-lock.json
  package.json
  src/components/Breadcrumbs.js
  src/components/MarkdownDocsViewer.js
  src/components/SearchBar.js
  src/components/vanilla/BreadcrumbsVanilla.js
  src/components/vanilla/MarkdownDocsViewerVanilla.js
  src/components/vanilla/SearchBarVanilla.js
  src/demo.js
  src/examples/template-examples.js
  src/index.js
  src/pages/TemplateShowcase.js
  src/templates/index.js
  src/test/MarkdownDocsViewer.test.js
  src/test/setup.js
  src/test/types.test.js
  src/test/utils.test.js
  src/types.js
  src/utils/buildDocsTree.js
  src/utils/getDocContent.js
  src/utils/index.js
Due: npm install --package-lock-only

updating npm packages.
  package-lock.json
  package.json
Due: npm install --package-lock-only

chore: use npmjs @ameshkin/markdown-handler 0.1.2
  package-lock.json
  package.json
Due: npm install --package-lock-only

feat: add comprehensive sx prop support for root, sidebar, and content styling
  .npmrc.example
  PUBLISH.md
  README.md
  SETUP-COMPLETE.md
  src/components/Breadcrumbs.tsx
  src/components/MarkdownDocsViewer.tsx
  src/components/SearchBar.tsx
  src/types.ts
Due: npm run typecheck

test: add Jasmine and Playwright test scripts
  .gitignore
  e2e/markdown-viewer.spec.ts
  e2e/templates.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  spec/support/helpers.js
  spec/support/helpers.ts
  spec/support/jasmine.json
  spec/types.spec.js
  spec/types.spec.ts
  spec/utils.spec.js
  spec/utils.spec.ts
  src/components/Breadcrumbs.js
  src/components/MarkdownDocsViewer.js
  src/components/SearchBar.js
  src/components/vanilla/BreadcrumbsVanilla.js
  src/components/vanilla/MarkdownDocsViewerVanilla.js
  src/components/vanilla/SearchBarVanilla.js
  src/demo.js
  src/examples/template-examples.js
  src/index.js
  src/pages/TemplateShowcase.js
  src/templates/index.js
  src/test/MarkdownDocsViewer.test.js
  src/test/setup.js
  src/test/types.test.js
  src/test/utils.test.js
  src/types.js
  src/utils/buildDocsTree.js
  src/utils/getDocContent.js
  src/utils/index.js
  tsconfig.jasmine.json
Due: npm run typecheck, npm install --package-lock-only

test: improve Playwright config with better timeouts and wait conditions
  e2e/markdown-viewer.spec.ts
  playwright.config.ts
Due: npm run typecheck

test: fix Playwright browser closing issue with better error handling
  e2e/markdown-viewer.spec.ts
  playwright.config.ts
Due: npm run typecheck

feat: change color scheme from green/blue to red/purple with darker cards and gradients
  src/demo.tsx
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

feat: remove gradient outlines and all green, update to purple/blue/red color scheme
  src/demo.tsx
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: remove remaining green color references
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: remove remaining gradient backgrounds from cards
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

feat: update color scheme to electric blue, magenta, and purple with neon glow effects
  src/demo.tsx
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: replace remaining light blue with electric blue
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

feat: add distinct color schemes for each template variant
  src/templates/index.ts
Due: npm run typecheck

feat: remove button gradients, reduce border radius, add BLOCKY template with sharp edges
  src/demo.tsx
  src/pages/TemplateShowcase.tsx
  src/templates/index.ts
  src/types.ts
Due: npm run typecheck

fix: ensure template themes are properly applied with useMemo and ThemeProvider
  src/components/MarkdownDocsViewer.tsx
Due: npm run typecheck

fix: add key prop to force re-render when template changes, ensure theme updates
  src/components/MarkdownDocsViewer.tsx
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: ensure template theme always wraps component with key for proper re-rendering
  src/components/MarkdownDocsViewer.tsx
Due: npm run typecheck

feat: apply selected template theme to entire site, not just preview component
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

feat: add distinct button styles for each template with unique padding, borders, and shadows
  src/templates/index.ts
Due: npm run typecheck

fix: complete modern template button styles with distinct design
  src/templates/index.ts
Due: npm run typecheck

fix: update template-examples from compact to light
  src/examples/template-examples.tsx
  src/pages/TemplateShowcase.tsx
  src/templates/index.ts
  src/types.ts
Due: npm run typecheck

feat: update centered template colors and remove all gradient buttons
  src/pages/TemplateShowcase.tsx
  src/templates/index.ts
Due: npm run typecheck

fix: remove gradient text effect from heading and update chip to solid color
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: use type assertion for Darcula theme compatibility
  src/components/MarkdownDocsViewer.tsx
  src/examples/template-examples.tsx
  src/pages/TemplateShowcase.tsx
  src/templates/index.ts
  src/types.ts
Due: npm run typecheck

fix: make template selection area consistent size with fixed colors and centered buttons
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

fix: ensure template selection Paper has fixed colors and consistent height
  src/pages/TemplateShowcase.tsx
Due: npm run typecheck

feat: rename Minimal template to Default
  src/examples/template-examples.tsx
  src/pages/TemplateShowcase.tsx
  src/templates/index.ts
  src/types.ts
Due: npm run typecheck

feat: update Modern template with Prisma-inspired color scheme and design
  src/templates/index.ts
Due: npm run typecheck

Path conditions:
  npm run typecheck: any of: *.{ts,tsx}
  npm install --package-lock-only: any of: package.json
